<?xml version="1.0" encoding="utf-8" ?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="PDM_Services_Implementation.Log"/>
  <namespace name="PDM_Services_Implementation.Log"/>
  <container>
    <register type="ILogService" mapTo="LogService">
      <lifetime type="singleton"/>
    </register>
  </container>
</unity>