<?xml version="1.0" encoding="utf-8" ?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<assembly name="WcfExtension.Services.Implementation"/>
	<namespace name="WcfExtension.Services.Implementation"/>
	<container>
		<register type="ILogService" mapTo="LogService">
			<lifetime type="singleton"/>
		</register>
	</container>
</unity>
