<?xml version="1.0" encoding="utf-8" ?>
<memcached-configuration xmlns="urn:memcached-configuration">
  <master>
    <memcached>
      <server address="192.168.135.222" port="12000" />
      <socket-pool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </master>
  <slave> 
    <ams>
      <server address="192.168.135.222" port="12000" />
      <!--线上配置-->
      <!--<server address="192.168.3.100" port="11211" />-->
      <socket-pool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </ams>
  </slave>
</memcached-configuration>