<?xml version="1.0" encoding="utf-8" ?>
<WcfLogServer>
  <Common>
    <!--用于提交数据的工作线程数，默认为逻辑CPU数*2-->
    <WorkThreadCount>2</WorkThreadCount>
    <!--每一次执行工作方法之后的休眠时间，默认为50毫秒-->
    <WorkThreadSleepInterval>10</WorkThreadSleepInterval>
    <!--提交给数据库多少为一组一起提交，默认为500-->
    <SubmitToServerBatchSize>1</SubmitToServerBatchSize>
    <!--提交数据库超时时间，默认为50毫秒-->
    <SubmitToServerTimeOut>50</SubmitToServerTimeOut> 
    <!--内存队列最大长度，默认为50000-->
    <MemoryQueueMaxCount>50000</MemoryQueueMaxCount>
    <!--MongoDB数据库地址-->
    <MongoConnWcfLog>mongodb://192.168.0.8:27017</MongoConnWcfLog>
  </Common>
</WcfLogServer>