<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="redis_address" value="192.168.0.8"/>
    <add key="redis_message_client_channel" value="WcfConfigClientChange"/>
    <add key="redis_message_service_channel" value="WcfConfigServiceChange"/>
  </appSettings>
  <connectionStrings>
    <add name="WcfConfigConnectionString" connectionString="Data Source=192.168.0.8;Initial Catalog=WcfConfig2;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="nonsecurity">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WcfExtension.ConfigCenter.WcfConfigService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="netTcpBinding" address="" contract="WcfExtension.IWcfConfigService" bindingConfiguration="nonsecurity"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>