<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="configservice_address" value="localhost:18888/WcfConfigService"/>
    <add key="logservice_address" value="localhost:18889/WcfLogService"/>
    <add key="redis_address" value="192.168.0.8"/>
    <add key="redis_message_client_channel" value="WcfConfigClientChange"/>
    <add key="redis_message_service_channel" value="WcfConfigServiceChange"/>
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
