<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="WcfConfigConnectionString" connectionString="Data Source=192.168.0.8;Initial Catalog=WcfConfig2;Persist Security Info=True;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="aa">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WcfExtension.ConfigCenter.WcfConfigService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:18888/WcfConfigService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding"
            contract="WcfExtension.IWcfConfigService"  bindingConfiguration="aa"/>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="redis_address" value="192.168.0.8" />
    <add key="redis_message_client_channel" value="WcfConfigClientChange"/>
    <add key="redis_message_service_channel" value="WcfConfigServiceChange"/>
  </appSettings>
</configuration>
