<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <appSettings>
    <add key="configservice_address" value="localhost:18888/WcfConfigService"/>
    <add key="logservice_address" value="localhost:18889/WcfLogService"/>
    <add key="redis_address" value="192.168.0.8"/>
    <add key="redis_message_client_channel" value="WcfConfigClientChange"/>
    <add key="redis_message_service_channel" value="WcfConfigServiceChange"/>
  </appSettings>
  <unity configSource="unity.config"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
