<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="aa" openTimeout="00:00:10">
          <binaryMessageEncoding></binaryMessageEncoding>
          <tcpTransport>
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="WcfExtension.LogCenter.WcfLogService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:18889/WcfLogService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="customBinding"
            contract="WcfExtension.IWcfLogService"  bindingConfiguration="aa"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
